@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/*utilty classes start */

:root {
  --very-dark-blue: hsl(243, 87%, 12%);
  --Desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 400, 700;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 16;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

p,
h1,
h2,
h3,
h4 {
  margin-bottom: 0;
}

.container {
  margin: 0 5rem;
}

/*utilty classes end */

/* home start */
/*navbar start */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
}

.navbar ul {
  display: flex;
}
.navbar li {
  margin: 0 30px;
  color: var(--very-dark-blue);
  font-family: "Raleway", sans-serif;
  color: black;
}
/*navbar End */

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8rem 0;
  column-gap: 5rem;
}

.row .col h1 {
  font-size: 40px;
  line-height: 1.4;
}

.row .col p {
  line-height: 1.6;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

input {
  padding: 10px 15px;
  width: 400px;
  border: 1px solid;
  height: 40px;
  margin-right: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

.btn {
  padding: 10px 0;
  width: 150px;
  border-radius: 3px;
  color: white;
  background-color: var(--bright-blue);
  height: 40px;
  cursor: pointer;
  border: none;
}

.row img {
  width: 100%;
}

/* home End */

/*team start */

#team {
  background-color: #F8F8FE ;
  width: 100%;
}

#team .row .col h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 4rem;
}
#team .row .col > p {
  line-height: 1.6;
  margin-top: 1rem;
  color: var(--very-dark-blue);
}

#team .row .col a {
  color: var(--moderate-cyan);
  border-bottom: 1px solid;
}

#team .row .col a img {
  width: 16px;
}

.box {
  background-color: white;
  margin-top: 3rem;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.box > img {
  width: 15px;
}

.box p {
  font-size: 12px;
  line-height: 1.7;
  margin: 15px 0;
}

.box .avatar {
  display: flex;
  align-items: center;
}
.box .avatar img {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.avatar h3 {
  font-size: 12px;
  font-weight: 700;
}

.box .avatar p {
  font-size: 10px;
  margin: 0;
}

/*team end */

/*sign-in start */
#sign-in {
  background-color: var(--Desaturated-blue);
}

#sign-in h3 {
  color: white;
  font-size: 32px;
}
#sign-in .col p {
  color: var(--light-gray);
  font-size: 16px;
  margin-top: 2rem;
  font-weight: 400;
  margin-right: 7rem;
}

#sign-in input {
  display: block;
}

#sign-in .btn {
  margin-top: 1rem;
  width: 30%;
}

#sign-in input {
  width: 90%;
}

/*sign-in End */

/*footer start*/
#footer {
  background-color: var(--very-dark-blue);
  padding: 8rem 0;
  column-gap: 5rem;
}
#footer .row1 {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
}

#footer p {
  color: var(--light-gray);
  margin-left: 10px;
}
.col1 {
  margin-top: 1rem;
}
.col1-info {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.col1-info img {
  width: 20px;
  margin-right: 15px;
}

#footer a,
i {
  color: var(--light-gray);
}

#footer li {
  margin-top: 10px;
}

#footer i {
  border: 1px solid var(--light-gray);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 2;
  margin: 0 10px;
}

/*footer End*/

/*Media*/
@media (max-width: 1000px) {
  .row {
    grid-template-columns: 1fr;
  }

  #home .row , #team .row {
    display: flex;
    flex-direction: column-reverse;
  }

  #home .row h1 ,  #home .row p , #team .row h2 , #sign-in    {
    text-align: center;
  }

  #home input {
    width: 100%;
    margin-bottom: 10px;
  }

  #team {
    background: url('./images/bg-curve-mobile.svg ') center center/cover no-repeat ;
  }

  #team .row h2 {
    margin-top: 2rem;
    font-size: 28px;
  }

  #team  .link {
    text-align: center;
  }

  #team .box {
    text-align: center;
    margin: 2rem auto 0;
    width: 300px;
    padding: 20px;
  }

  #sign-in .col p {
    margin-right: 0;
  }

  #sign-in .input input  {
    width: 100%;
    margin: 30px 0 15px;

  }

  #sign-in .input .btn , .btn {
    width: 100%;
  }
  #footer .row1 {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  #footer .row1 .col4 {
    margin: auto;
  }
}

/*mobile*/
@media (max-width: 375px) {
  .logo {

    width: 80px;
  }

  .container {
    margin: 0 1rem;
  }

  .navbar ul li a {
    margin: 0 10px;
    font-size: 14px;
  }

  #home .row h1 {
    font-size: 28px;
    margin-top: 2rem;
  }
  
}

